.photo-grid{
  margin: 0 auto;
  max-width: calc(100% - 96px);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 16px;

}

@media screen and (max-width: 1024px){
  .photo-grid{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px){
  .photo-grid{
    min-width: 288px;
    max-width: calc(100% - 96px);
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    grid-gap: 16px;
  }
}

@media screen and (max-width: 320px){
  .photo-grid{
    max-width: 288px;
    grid-row-gap: 12px;
  }
}
