.place__paragraph{
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}
.place__paragraph:last-child{
  margin-top: 26px;
}
@media screen and (max-width: 768px){
  .place__paragraph:last-child{
    margin-top: 25px;
  }
}
